* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.carouselImg {
  max-width: 400px;
  max-height: 500px;
  /* height: 287px; */
  margin: auto;
  display: inline;
  padding-right: 0px;
  margin-right: 0px;
  /* width: 200px; */

}

.carousel-item{
  text-align: center;
}


.bColor {
  background-color: #C1EBE1;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
}

.genreBtn {
  font-size: 25px;
  color: black;
}

.genreBtn:hover {
  color: #90b9a9;
  border-bottom: 5px solid #90b9a9;
}

.genreBtn:active {
  color: #90b9a9;
  border-bottom: 5px solid #90b9a9;
}

.imgSize {
  width: 160px;
  height: 230px;
}

.btn-link {
  color: #90b9a9;
}
