* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}



/*  style the carousel  */
.carouselImg {
  max-width: 240px;
  max-height: 480px;
  margin: auto;
  display: inline;
  padding-right: 0px;
  margin-right: 0px;

}

.carousel-item{
  text-align: center;
}


.bColor {
  background-color: #C1EBE1;
}


/*  typography  */
h1 {
  font-family: 'Josefin Sans', sans-serif;
}


.typoStyle, p, h4{
  font-family: 'Lato', sans-serif;
}

.text-Position {
  text-align: right;
}

.genreBtn {
  color: black;

}

.genreBtn:hover {
  color: #90b9a9;
  border-bottom: 5px solid #90b9a9;
}

.genreBtn:active {
  color: #90b9a9;
  border-bottom: 5px solid #90b9a9;
}


.btn-link {
  color: #90b9a9;
}


/*  style the book images */
.imgSize {
  width: 160px;
  height: 230px;
}

.myBook:hover, .hoverEffect:hover {
  transform: scale(1.2);
}

.hoverEffect:hover {
  transform: scale(1.1);
}


/*  style the modal screen */
.myModal {
  display: none;
  position: fixed;
  background-color: white;
  height: 100%;
  width: 100%;
  z-index: 3;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);

}

.closeBar {
  position: absolute;
  right: 33%;
  top: 22%;
}

#modalContent {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #90b9a9;
  width: 40%;
  height: 1000px;
  margin-top: 10%;
}


.btnLess, .moreInfo {
  display: none;
}


/*  sytle the icons */
.fa-bookmark, .fa-book, .fa-history {
    color: green;
    font-size: 2.1rem;
    cursor: pointer;
}

.fa-book, .fa-history, .fas.fa-bookmark {
  color: #90b9a9;
  font-size: 2rem;
}


.fa-bookmark:hover {
  background-color: green;
}


/*  Add Zoom Animation for modal  */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}









/*  desktop screen display  */
@media only screen and (min-width: 1200px)  {
  .mobile {
    display: none;
  }

  /* .carouselImg {
    max-width: 250px;
    max-height: 450px;

  } */


  .bg-container {
    width: 270px;
    height: 230px;
    border : 2px solid #90b9a9;

  }

  .bg-container2 {
    width: 270px;
    height: 280px;
    border : 2px solid #90b9a9;

  }



  .badge {
    font-size: 1rem;

  }

  .authorImg {
    width: 60px;;
    height: 60px;
    clip-path: circle(50% at 50% 50%);
  }



}




/*  medium screen display */
@media only screen and (min-width: 768px ) and (max-width: 1200px){
  .mobile {
    display: none;
  }

  .carouselImg {
    max-width: 160px;
    max-height: 370px;
  }

  .authorImg {
    width: 60px;;
    height: 60px;
    clip-path: circle(50% at 50% 50%);
  }

}


/*  mobile screen display */
@media only screen and (min-width: 375px) and (max-width: 768px){
  .desktop {
    display: none;
  }

  .display-4 {
    font-size: 30px;
  }


  .carouselImg {
    max-width: 120px;
    max-height: 300px;
  }

  .mobileAdjust {
    margin-left: 15px;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .imgSize {
    width: 110px;
    height: 170px;
  }

  .boxContainer {
    width: 60%;
  }

  .text-Position {
    text-align: left;
    padding-left: 18px;
  }

  .nav {
    flex-wrap: nowrap;
    justify-content: center;
  }

  .btn-lg {
    font-size: 16px;
    padding: 8px;
  }


  .closeBar {
    right: 10%;
    top: 8%;
  }

  #modalContent {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #90b9a9;
    width: 100%;
    height: 1100px;
    margin-top: 10%;
  }


  .card-body {
    padding: 0;

  }

  .bg-container {
    border : 2px solid #90b9a9;
    background-color: white;
  }


  .authorImg {
    width: 60px;;
    height: 60px;
    clip-path: circle(50% at 50% 50%);
  }

  .fa-book-reader {
    background-color: #90b9a9;
    font-size: 2rem;
    border: 2px solid #90b9a9;
    border-radius: 30px;
    padding: 1rem;
  }

  /*  style the bookshelves modal screen */
  .myModal2 {
    display: none;
    position: fixed;
    background-color: white;
    height: 100%;
    width: 100%;
    z-index: 4;
    left: 0;
    top: 0;
    overflow: auto;

  }

  .myModal2 {
    display: none;
  }

  .closeBar2 {
    position: absolute;
    right: 10%;
    top: 2%;
  }

}
